<?xml version="1.0"?>
<config>
    <modules>
        <Mediotype_Tutorials>
            <version>0.1.0</version>
        </Mediotype_Tutorials>
    </modules>
    <global>
        <models>
            <mediotype_tutorials>
                <class>Mediotype_Tutorials_Model</class>
                <resourceModel>mediotype_tutorials_resource</resourceModel>
            </mediotype_tutorials>
            <mediotype_tutorials_resource>
                <class>Mediotype_Tutorials_Model_Resource</class>
                <entities>
                    <tutorial>
                        <table>mediotype_tutorials</table>
                    </tutorial>
                    <step>
                        <table>mediotype_tutorials_steps</table>
                    </step>
                    <page>
                        <table>mediotype_tutorials_pages</table>
                    </page>
                </entities>
            </mediotype_tutorials_resource>
        </models>
        <blocks>
            <mediotype_tutorials>
                <class>Mediotype_Tutorials_Block</class>
            </mediotype_tutorials>
        </blocks>
        <helpers>
            <mediotype_tutorials>
                <class>Mediotype_Tutorials_Helper</class>
            </mediotype_tutorials>
        </helpers>
        <resources>
            <mediotype_tutorials_setup>
                <setup>
                    <module>Mediotype_Tutorials</module>
                </setup>
            </mediotype_tutorials_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <mediotype_tutorials>
                    <file>mediotype/tutorials/layout.xml</file>
                </mediotype_tutorials>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <mediotype_tutorials>
                <use>admin</use>
                <args>
                    <module>Mediotype_Tutorials</module>
                    <frontName>tutorials</frontName>
                </args>
            </mediotype_tutorials>
        </routers>
    </admin>
</config>