<?xml version="1.0"?>
<config>
    <modules>
        <Mediotype_Core>
            <version>0.0.1</version>
        </Mediotype_Core>
    </modules>
    <global>
        <blocks>
            <mediotype_core>
                <class>Mediotype_Core_Block</class>
            </mediotype_core>
        </blocks>
        <helpers>
            <mediotype_core>
                <class>Mediotype_Core_Helper</class>
            </mediotype_core>
        </helpers>
        <models>
            <mediotype_core>
                <class>Mediotype_Core_Model</class>
                <resourceModel>Mediotype_Core_Model_Resource</resourceModel>
            </mediotype_core>
            <widget>
                <rewrite>
                    <widget>Mediotype_Core_Model_Widget</widget>
                    <widget_instance>Mediotype_Core_Model_Widget_Instance</widget_instance>
                </rewrite>
            </widget>
        </models>
        <resources>
            <mediotype_core>
                <setup>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </mediotype_core>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <mediotype_core>
                    <file>mediotype/core/core.xml</file>
                </mediotype_core>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <mediotype_core>
                <use>admin</use>
                <args>
                    <module>Mediotype_Core</module>
                    <frontName>mediotype_core</frontName>
                </args>
            </mediotype_core>
        </routers>
    </admin>
    <defaults>
        <mediotype_core>
            <use_simlinks>1</use_simlinks>
        </mediotype_core>
        <mediotype_general>
                <debug_settings>
                        <logging_enabled>1</logging_enabled>
                        <recursion_logging_enabled>1</recursion_logging_enabled>
                        <logging_level>1</logging_level>
                </debug_settings>
        </mediotype_general>
    </defaults>
</config>
